<center><img src="/assets/images/sos.png"> </center>

<div class="flexslider" id="flexslider" rel="external">
  <ul class="slides">
    <li>
    	<img src="/assets/images/easy.png">
    </li>
    <li>
    	<img src="/assets/images/join.png">
    </li>
    <li>
    	<img src="/assets/images/cont.png">
    </li>
    <li>
    	<img src="/assets/images/aspel.png">
    </li>
    <li>
    	<img src="/assets/images/atime.png">
    </li>
  </ul>
</div>

<script type="text/javascript">

    $(window).load(function() {
      $('#flexslider').flexslider({
        animation: "slide",
        animationLoop: false,
        itemWidth: 100,
        itemMargin: 5,
        minItems: 1,
        maxItems: 1
      });
    });
</script>