<!-- Modal facturas -->
<div id="comerciales" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-inline="true">&times;</button>
        <h3 class="modal-title alert alert-danger center">Comerciales Facturas</h3>
      </div>
      <div class="modal-body">
        <div id="cuest">
          <h5 class="center">¿CONTROL DE INVENTARIOS?</h5>
          <center>
            <button onclick="aceptado(1)" class=" ui-btn ui-btn-inline ui-shadow ui-corner-all">si</button>
            <button onclick="rechazado(1)" class=" ui-btn ui-btn-inline ui-shadow ui-corner-all">no</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal CONTABLES -->
<div id="contables" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-inline="true">&times;</button>
        <h3 class="modal-title alert alert-danger center">Sistemas contables</h3>
      </div>
      <div class="modal-body">
        <div id="contable">
	    	  <h5 class="center">¿REGISTRO DE POLIZAS O FLUJO DE EFECTIVO?</h5>
          <center>

	    	    <button onclick="aceptado(6)" class=" ui-btn ui-btn-inline ui-shadow ui-corner-all">Efectivo</button>
            <button onclick="rechazado(6)" class=" ui-btn ui-btn-inline ui-shadow ui-corner-all">Polizas</button>
          </center>
	      </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal NOMINAS -->
<div id="nominas" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-inline="true">&times;</button>
        <h3 class="modal-title alert alert-danger center">Sistemas Nóminas</h3>
      </div>
      <div class="modal-body">
        <div id="nomina">
          <h5 class="center">¿CUANTOS EMPLEADOS EN LA NÓMINA?</h5>
          <center>
            <button onclick="aceptado(7)" class=" ui-btn ui-btn-inline ui-shadow ui-corner-all">1 a 15</button>
            <button onclick="rechazado(7)" class=" ui-btn ui-btn-inline ui-shadow ui-corner-all">Más de 15</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>