<div class="col-md-10 col-md-offset-1">
	<h1 class="alert alert-success" >Editar Rol de trabajo</h1>
	<%= link_to 'Ver', @rol ,"data-role" => "button", "data-inline" => "true", "data-theme" => "b" %> 
	<%= link_to 'Regresar', rols_path , "data-role" => "button", "data-inline" => "true", "data-theme" => "b" %>
	<%= render 'form' %>
</div>