<div class="col-md-10 col-md-offset-1">
	<h1 class="alert alert-success" >Editar producto</h1>
	<%= render 'form' %>
	<%= link_to 'Ver', @producto, "data-role" => "button", "data-inline" => "true", "data-theme" => "b"  %> 
	<%= link_to 'Regresar', productos_path , "data-role" => "button", "data-inline" => "true", "data-theme" => "b" %>

</div>