<div class="col-md-10 col-md-offset-1">
	<h1 class="alert alert-success" >Editar categoria</h1>
	<%= render 'form' %>
	<%= link_to 'Ver', @producto_padre , "data-role" => "button", "data-inline" => "true", "data-theme" => "b" %>
	<%= link_to 'Regresar', producto_padres_path , "data-role" => "button", "data-inline" => "true", "data-theme" => "b" %>
</div>