<div class="col-md-10 col-md-offset-1">
	
	<h1 class="alert alert-success" >Nueva categoria</h1>
	<div class="col-md-12 nopadding"><%= link_to 'Regresar', producto_padres_path , "data-role" => "button", "data-inline" => "true", "data-theme" => "b" %></div>
	<%= render 'form' %>
</div>