.red{
	color:red;
	border-radius: 2px;
	font-weight: 900; 
}
.red_icon{
	background-color: red!important;
	border: 0px;
}
.preguntas{
	float: right;
	width: 350px;
	background-color: transparent;
	border-radius: 20px;
	margin-top: 20px!important;
	margin-right: 5px!important;
	margin-bottom: 20px!important;
}
.modal-backdrop{
	height: 2000px!important;
}
.clear{
	clear: both;
}
.close{
	background-color: red!important;
    opacity: 1!important;
    padding: 0px 5px 0px 5px!important;
    border-radius: 30px!important;
    color: white!important;
}
.green{
	background-color: green!important;
	border: 0px;
}
.navbar{
	    background-color: black;
}
ul.nav{
	background-color: #dbdbdb;
    min-height: 30px;
    margin: 10px;
}
.img_Small{
	width: 50px;
}

.float_right{
	float: right;
}
.table > thead > tr > th{
	background-color: #92d8f9;
}
.table{
	margin-bottom: 10px;
	margin-top: 10px;
}
.center{
	text-align: center;
}
td > a{
	color: black!important;
}
option{
	color: black!important;
}
@media(min-width: 768px){
	.small{
		display: none;
	}
	.navbar-toggle{
		display: none!important;
	}
	a.page-scroll.ui-link {
    	margin: 5px;
    	vertical-align: sub;
    	color: black!important;
	}
	.menu_small{
		display: none;
	}
	div.contenido{
		margin-top: 70px;
	}
}
@media(max-width: 767px){
	.big{
		display: none;
	}
	div.header{
		margin-top: 20px;
	}
	.small > p {
		padding: 0px;
	}
	a.page-scroll.ui-link {
    	margin-top: 15px;
    	margin-bottom: 15px;
    	vertical-align: sub;
    	color: white!important;
	}
	a.page-scroll{
		width: 100%!important;
		float: left;
	}
	a.navbar-brand{
		display: none;
	}
}
 a.navbar-brand{
	color: white!important;
}

li{
	list-style-type: none;
}